.main_nav {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;

  .navigation {
    margin: auto 10%;
    justify-content: flex-start;

    .hamburger {
      width: 100%;
      align-items: center;
    }

    .hamburger:before {
      content: "\e909";
      font-family: 'icomoon';
      speak: none;
      font-size: 3em;
      color: white;
    }

    ul {
      list-style-type: none;
      display: none;

      a {
        text-decoration: none;
        font-size: 2em;
        color: white;
      }
    }
  }

  .navigation:hover ul {
      display: block;
    }

  .contact {
    position: relative;

    .contact_list {
      display: flex;
      justify-content: space-around;
      list-style-type: none;

      #linkedin:before {
        font-size: 2em;
        content: "\e907";
        font-family: 'icomoon';
        speak: none;
        color: white;
      }

      #twitter:before {
        font-size: 2em;
        content: "\e904";
        font-family: 'icomoon';
        speak: none;
        color: white;
      }

      #facebook:before {
        font-size: 2em;
        content: "\e902";
        font-family: 'icomoon';
        speak: none;
        color: white;
      }

      #github:before {
        font-size: 2em;
        content: "\e906";
        font-family: 'icomoon';
        speak: none;
        color: white;
      }

      #instagram:before {
        font-size: 2em;
        content: "\e903";
        font-family: 'icomoon';
        speak: none;
        color: white;
      }
    }

    .repo_list {
      display: flex;
      list-style-type: none;
      flex-direction: column;
      background-color: black;
      width: 150px;
      position: absolute;
      top: 40px;
      left: 25%;
      li {
        a{
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

.title {
  justify-content: space-around;

  img {
    width: 100%;
    height: 400px;
    position: relative;
    margin-top: 5%;
    z-index: -1;
  }

  h2 {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    top: 150px;
  }
}

.blog {
  h2 {
    text-align: center;
  }
}

.portfolio {
  h2 {
    text-align: center;
  }

  .portfolio_container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;

    .portfolio_items {
      width: 75%;
      flex-direction: column;
    }
  }
}

.article_body {
  div {
    margin: 5% 5% 5% 5%;
    max-width: 50%;

    img {
      max-width: 50%;
    }
  }

  p {
    margin: 5% 5% 5% 5%;
    max-width: 50%;
  }
}

@media only screen and (min-width: 640px) {
.main_nav {
  .navigation {
    margin: 0 0;

    ul {
      width: 100%;
      display: flex;
      flex-direction: row;
      list-style-type: none;
      justify-content: flex-start;;
      flex-wrap: wrap;

      li {
        margin-left: 8%;
      }
    }

    .hamburger {
      display: none;
    }
  }
}

.main_nav:hover {
  .navigation {
    margin: 0 0;

    ul {
      width: 100%;
      display: flex;
      flex-direction: row;
      list-style-type: none;
      justify-content: flex-start;;
      flex-wrap: wrap;

      li {
        margin-left: 8%;
      }
    }
  }
}
}
