.page_header h2 {
  float: left;
  margin-top: 0;
  margin-bottom: 5%;
  font-size: 9vw;
}

.hamburger {
  padding-right: 5%;
  padding-bottom: 5%;
  float: right;
}

.main_nav ul {
  display: none;
  list-style-type: none;
}

.main_nav:hover ul {
  display: block;
}

.main_nav ul li {
  /*font-family: 'Arvo', serif;*/
  font-size: 3em;
  text-align: right;
}

#blog_link a:after {
  margin-left: 10px;
  content: "\e900";
  font-family: 'icomoon';
  speak: none;
}

#social_link a:after {
  margin-left: 10px;
  content: "\e901";
  font-family: 'icomoon';
  speak: none;
}

#portfolio_link a:after {
  margin-left: 10px;
  content: "\e908";
  font-family: 'icomoon';
  speak: none;
}

.blog h2, .portfolio h2 {
  text-align: center;
}

.article_body div, p {
  margin: 5% 5% 5% 5%;
  max-width: 50%;
}

.social ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  flex-wrap: wrap;
  width: 100%;
}

.social ul li {
  /*font-family: 'Arvo', serif;*/
  font-size: 3vw;
  text-align: center;
}

.social ul li a {
  color: black;
}

.hamburger:before {
  content: "\e909";
  font-family: 'icomoon';
  speak: none;
  font-size: 5em;
}

#twitter:before {
  margin-right: 10px;
  content: "\e904";
  font-family: 'icomoon';
  speak: none;
}

#facebook:before {
  margin-right: 10px;
  content: "\e902";
  font-family: 'icomoon';
  speak: none;
}

#github:before {
  margin-right: 10px;
  content: "\e906";
  font-family: 'icomoon';
  speak: none;
}

#instagram:before {
  margin-right: 10px;
  content: "\e903";
  font-family: 'icomoon';
  speak: none;
}

#linkedin:before {
  margin-right: 10px;
  content: "\e907";
  font-family: 'icomoon';
  speak: none;
}

.portfolio_post a {
  font-family: 'Arvo', serif;
  text-decoration: none;
  color: black;
  font-size:2.5vw;
}

@media only screen and (min-width: 640px) {

  .page_header h2 {
    display: block;
    width: 100%;
    /*font-size: 10em;*/
  }

  .main_nav {
    display: block;
  }

  .main_nav:hover ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .hamburger {
    display: none;
  }

  .main_nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
