.main_nav {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%; }
  .main_nav .navigation {
    margin: auto 10%;
    justify-content: flex-start; }
    .main_nav .navigation .hamburger {
      width: 100%;
      align-items: center; }
    .main_nav .navigation .hamburger:before {
      content: "\e909";
      font-family: 'icomoon';
      speak: none;
      font-size: 3em;
      color: white; }
    .main_nav .navigation ul {
      list-style-type: none;
      display: none; }
      .main_nav .navigation ul a {
        text-decoration: none;
        font-size: 2em;
        color: white; }
  .main_nav .navigation:hover ul {
    display: block; }
  .main_nav .contact {
    position: relative; }
    .main_nav .contact .contact_list {
      display: flex;
      justify-content: space-around;
      list-style-type: none; }
      .main_nav .contact .contact_list #linkedin:before {
        font-size: 2em;
        content: "\e907";
        font-family: 'icomoon';
        speak: none;
        color: white; }
      .main_nav .contact .contact_list #twitter:before {
        font-size: 2em;
        content: "\e904";
        font-family: 'icomoon';
        speak: none;
        color: white; }
      .main_nav .contact .contact_list #facebook:before {
        font-size: 2em;
        content: "\e902";
        font-family: 'icomoon';
        speak: none;
        color: white; }
      .main_nav .contact .contact_list #github:before {
        font-size: 2em;
        content: "\e906";
        font-family: 'icomoon';
        speak: none;
        color: white; }
      .main_nav .contact .contact_list #instagram:before {
        font-size: 2em;
        content: "\e903";
        font-family: 'icomoon';
        speak: none;
        color: white; }
    .main_nav .contact .repo_list {
      display: flex;
      list-style-type: none;
      flex-direction: column;
      background-color: black;
      width: 150px;
      position: absolute;
      top: 40px;
      left: 25%; }
      .main_nav .contact .repo_list li a {
        text-decoration: none;
        color: white; }

.title {
  justify-content: space-around; }
  .title img {
    width: 100%;
    height: 400px;
    position: relative;
    margin-top: 5%;
    z-index: -1; }
  .title h2 {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    top: 150px; }

.blog h2 {
  text-align: center; }

.portfolio h2 {
  text-align: center; }
.portfolio .portfolio_container {
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .portfolio .portfolio_container .portfolio_items {
    width: 75%;
    flex-direction: column; }

.article_body div {
  margin: 5% 5% 5% 5%;
  max-width: 50%; }
  .article_body div img {
    max-width: 50%; }
.article_body p {
  margin: 5% 5% 5% 5%;
  max-width: 50%; }

@media only screen and (min-width: 640px) {
  .main_nav .navigation {
    margin: 0 0; }
    .main_nav .navigation ul {
      width: 100%;
      display: flex;
      flex-direction: row;
      list-style-type: none;
      justify-content: flex-start;
      flex-wrap: wrap; }
      .main_nav .navigation ul li {
        margin-left: 8%; }
    .main_nav .navigation .hamburger {
      display: none; }

  .main_nav:hover .navigation {
    margin: 0 0; }
    .main_nav:hover .navigation ul {
      width: 100%;
      display: flex;
      flex-direction: row;
      list-style-type: none;
      justify-content: flex-start;
      flex-wrap: wrap; }
      .main_nav:hover .navigation ul li {
        margin-left: 8%; } }

/*# sourceMappingURL=new-modules.css.map */
