body {
  margin: 2% 2% 2% 2%;
  background-color: rgb(200,200,200);
}

img {
  max-width: 25%;
}

.page_header {
  font-family: 'Arvo', serif;
  font-size: 3vw;
  float: left;
  width: 100%;
  padding-bottom: 5%;
}

.page_header h1 {
  float: left;
}

.hamburger {
  padding-top: 7%;
  padding-right: 5%;
  float: right;
}

.main_nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main_nav ul {
  display: none;
  list-style-type: none;
}

.main_nav:hover ul {
  display: block;
}

.main_nav ul li {
  font-family: 'Arvo', serif;
  font-size: 4vw;
  text-align: right;
}

a {
  text-decoration: none;
  color: black;
}

#blog_link:after {
  margin-left: 10px;
  content: "\e900";
  font-family: 'icomoon';
  speak: none;
}

#social_link:after {
  margin-left: 10px;
  content: "\e901";
  font-family: 'icomoon';
  speak: none;
}

#portfolio_link:after {
  margin-left: 10px;
  content: "\e908";
  font-family: 'icomoon';
  speak: none;
}

.blog_template {
  display: none;
}

.blog_post h1 {
  font-family: 'Arvo', serif;
  font-size: 3vw;
}

.blog_post h3 {
  font-family: 'Arvo', serif;
  font-size: 1.5vw;
}

.blog_post p {
  font-size: 2vw;
}

.blog time {
  font-size: 1.5vw;
}

.blog_filter {
  display: none;
}

.social_template {
  display: none;
}

.social ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  flex-wrap: wrap;
  width: 100%;
}

.social ul li {
  font-family: 'Arvo', serif;
  font-size: 3vw;
  text-align: center;
}

.social ul li a {
  text-decoration: none;
  color: black;
}

#twitter:before {
  margin-right: 10px;
  content: "\e904";
  font-family: 'icomoon';
  speak: none;
}

#facebook:before {
  margin-right: 10px;
  content: "\e902";
  font-family: 'icomoon';
  speak: none;
}

#github:before {
  margin-right: 10px;
  content: "\e906";
  font-family: 'icomoon';
  speak: none;
}

#instagram:before {
  margin-right: 10px;
  content: "\e903";
  font-family: 'icomoon';
  speak: none;
}

#linkedin:before {
  margin-right: 10px;
  content: "\e907";
  font-family: 'icomoon';
  speak: none;
}

.hamburger:before {
  content: "\e909";
  font-family: 'icomoon';
  speak: none;
  font-size: 8vw;
}

.portfolio_template {
  display: none;
}

.portfolio_post h1 {
  font-family: 'Arvo', serif;
  font-size: 3vw;
}

.portfolio_post a {
  font-family: 'Arvo', serif;
  text-decoration: none;
  color: black;
  font-size:2.5vw;
}

.portfolio_post p {
  font-size: 1.5vw;
}

.portfolio_filter {
  display: none;
}

@media only screen and (min-width: 640px) {

  .page_header h1 {
    display: block;
    width: 100%;
  }

  .main_nav {
    display: block;
  }

  .main_nav:hover ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .hamburger {
    display: none;
  }

  .main_nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .main_nav ul li {
    font-family: 'Arvo', serif;
    font-size: 4vw
  }
}
