body {
  margin: 2% 2% 2% 2%;
}

.page_header h1 {
  font-family: 'Arvo', serif;
  font-size: 6vw;
}

.page_header ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  flex-wrap: wrap;
}

.page_header ul li {
  font-family: 'Arvo', serif;
  font-size: 4vw
}

.blogTemplate {
  display: none;
}

.blogPost h1 {
  font-size: 3vw;
}

.blogPost h3 {
  font-size: 1.5vw;
}

.blogPost p {
  font-size: 2vw;
}

.socialTemplate {
  display: none;
}

.social ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  flex-wrap: wrap;
  width: 100%;
}

.social ul li {
  font-family: 'Arvo', serif;
  font-size: 3vw;
  text-align: center;
}

.social ul li a {
  text-decoration: none;
  color: black;
}
